<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<p>
				âge:
				<input type="number" min="0" max="99" v-model="age" />
			</p>
			<p v-for="loisir in loisirsAccessibles">
				<input type="checkbox" :value="loisir.nom" v-model="loisirsChoisis" />
				{{loisir.nom}} ({{loisir.ageMin}} ans min)
			</p>
			nb : {{nbLoisirsChoisis}}
			<button @click="envoyer" :disabled="!nbLoisirsOK">
				Envoyer
			</button>
		</div>
		<script src="vue.js"></script>
		<script src="testLoisirs.js"></script>
	</body>
</html>
