<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Exemple 1 en es6</title>
	</head>
	<body>
		<div id="app">
			<p>
				<label for="">Nom:</label>
				<input type="text" v-model.lazy="nom" />
			</p>
			<p>
				Bonjour
				<span>{{ nom == "Dominique" ? "Maître" : nom.toUpperCase() }}</span> !
			</p>

			<p>
				<input type="checkbox" v-model="affLoisirs" /> afficher la liste des
				loisirs
			</p>

			<ul v-show="affLoisirs">
				<li v-for="loisir in loisirs">{{ loisir }}</li>
			</ul>

			<select>
				<option v-bind:value="loisir" v-for="loisir in loisirs">
					{{ loisir }}
				</option>
			</select>

			<p v-for="loisir in loisirs">
				<input type="checkbox" v-bind:value="loisir" />
				{{ loisir }}
			</p>
		</div>

		<script src="vue.js"></script>
		<script src="vue01.js"></script>
	</body>
</html>
