<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Inscriptions</title>
	</head>
	<body>
		<div id="app">
			<!-- ------------------------------------ -->
			<div>
				<p>Choix du/des pays</p>
				<fieldset :disabled="!etatChoixPays">
					<p v-for="pays in listePays" :key="pays">
						<input type="checkbox" :value="pays" v-model="paysChoisis" />
						{{pays}}
					</p>
				</fieldset>
				{{nbPaysChoisis}} {{paysChoisis}} <br />
				<button @click="commenceInscr" :disabled="!etatChoixPays">
					Commencer les inscriptions
				</button>
			</div>
			<!-- ------------------------------------ -->
			<div v-show="etatInscription">
				<p>
					<label for="">Participants: </label>
					<select v-model="idPSel" :disabled="!etatInscription">
						<option
							v-for="pers in listePers"
							:key="pers.idP"
							:value="pers.idP"
							:disabled="pers.selectionne"
						>
							{{pers.nomP}} {{pers.prenomP}} ({{pers.paysP}})
						</option>
					</select>
					<button @click="ajouter" :disabled="!etatInscription">Ajouter</button>
				</p>
				<ul>
					<li v-for="pers in persChoisies" :key="pers.idP">
						<button :value="pers.idP" @click="supprimer">X</button>
						{{pers.idP}} {{pers.nomP}} {{pers.prenomP}} {{pers.masseP}}
					</li>
				</ul>
				Masse totale: {{masseTotale}}
			</div>
			<!-- ------------------------------------ -->
		</div>
		<script src="vue.js"></script>
		<script src="vue05_inscriptions.js"></script>
	</body>
</html>
