<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Exemple 2 en vue</title>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="nom" /> {{ nom }}<br />
			<input type="text" v-model="prenom" /> {{ prenom }}<br />
			{{ nomComplet() }}<br />

			<div
				v-on:click="salutDiv"
				style="height: 60px; width: 100px; background-color: red">
				<button
					v-on:click.left.stop="salutBouton"
					v-on:click.right.stop.prevent="auRevoirBouton">
					Saluer
				</button>
			</div>
		</div>

		<script src="vue.js"></script>
		<script src="vue02.js"></script>
	</body>
</html>
